name: Ruby on Rails CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      # PostgreSQL uniquement si tu veux tester prod, sinon pas besoin
      # postgres:
      #   image: postgres:16
      #   env:
      #     POSTGRES_USER: postgres
      #     POSTGRES_PASSWORD: password
      #   ports:
      #     - 5432:5432
      #   options: >-
      #     --health-cmd pg_isready
      #     --health-interval 10s
      #     --health-timeout 5s
      #     --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v2
        with:
          ruby-version: 3.4

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Setup DB
        run: |
          bin/rails db:create db:migrate RAILS_ENV=test

      - name: Run tests
        run: |
          bin/rails test

