name: Ruby on Rails CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test_and_lint:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - uses: actions/checkout@v6

      # 2️⃣ Setup Ruby
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
          bundler-cache: true

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: bundle install --jobs 4 --retry 3

      # 4️⃣ Migrate database test (SQLite3)
      - name: Migrate test database
        env:
          RAILS_ENV: test
        run: bin/rails db:migrate

      # 5️⃣ Run tests Minitest
      - name: Run tests
        env:
          RAILS_ENV: test
        run: bin/rails test

      # 6️⃣ Lint with RuboCop (ignorer warnings pour ne bloquer que sur erreurs graves)
      - name: Lint Code
        run: bin/rubocop -f github --fail-level=error
